


h2 {


    text-align:left;

    color:black;

    font-size: large

}


h3 {


    text-align:center;

    color:black;

    font-size: medium

}


img{


    height:500px;
    width:500px;



}

